@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body,
.Clock {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Day {
  background-color: white;
  color: black;
}
.Night {
  background-color: #061f2f;
  color: white;
}
#Time {
  font-size: 20vw;
  margin-bottom: 4vh;
}
#Date {
  font-size: 6vw;
}
#Dday1 {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-size: 6vw;
}
#Dday2 {
  position: absolute;
  left: 2vw;
  top: 2vh;
  font-size: 6vw;
}
